<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="author" content="Xiao Zimo">
    <meta name="description" content="">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  </head>
  <body>
    <div class="story_main">
      <p align="center">
        <img width="220" src="http://www.zuggr.com/file/angel.jpg">
        <h1 align="center">Welcome to your new project</h1>
      </p>
    </div>
  </body>
</html>
